<!DOCTYPE html>

<html>

	<head>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="../static/js/portfolio.js"></script>

		<script>

			$(document).ready(function () {

				portfolio.handleLogoutButtonClick();
				portfolio.handleSessionButtonClick();
				portfolio.displayEmail();
				portfolio.handleTestInputButtonClick();
				portfolio.handleAddStockButtonClick();
				portfolio.handleSellStockButtonClick();
				portfolio.handleGetHoldingsButtonClick();
				portfolio.handleGetTransactionHistoryButtonClick();


			}) 

		</script>


	</head>

	<body>
		<h1>This is your portfolio page</h1>

		<h2 id="email-display">ff</h2>

		<div>
			<button id="logout-button">Logout</button>
		</div>
		<hr>
		<div>
			<button id="session-button">Session</button>
			<button id="test-button">Test Button</button>
		</div>
		<hr>
		<div>
			<input type="text" id="test-input-box">
			<input type="text" id="count-input-box">

			<button id="test-input-submit">Submit</button>
			<button id="add-stock-button">Buy Stock</button>
			<button id="sell-stock-button">Sell Stock</button>
			<button id="get-holdings-button">Get Holdings</button>
			<button id="get-transaction-history">Get Transactions</button>
		</div>

		<hr>

		<div>
			<h6 id="stock-data">stock data goes here</h6>
		</div>

		
	</body>



</html>