<!DOCTYPE html>

<html>

	<head>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="../static/js/portfolio.js"></script>

		<script>

			$(document).ready(function () {

				portfolio.handleLogoutButtonClick();
				portfolio.handleSessionButtonClick();
				portfolio.displayEmail();


			}) 

		</script>


	</head>

	<body>
		<h1>This is your portfolio page</h1>

		<h2 id="email-display">ff</h2>

		<div>
			<button id="logout-button">Logout</button>
		</div>
		<hr>
		<div>
			<button id="session-button">Session</button>
			<button id="test-button">Test Button</button>
		</div>
		
	</body>



</html>